<div class="row">
  <table class="large-8 columns">
    <thead>
      <th>Name</th>
      <th>Value</th>
    </thead>
    <%= form_tag "/settings", method: :post do %>
      <tr>
        <td>Site Name</td>
        <td><%= text_field_tag "Setting[site_name]", Setting.site_name %></td>
      </tr>
      <tr>
        <td>Main banner image</td>
        <td><%= file_field_tag "Setting[banner]", value: Setting.banner if Setting.banner %></td>
      </tr>
      <tr>
        <td><%= submit_tag "Save Changes", class: "tiny radius button" %></td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>
