<div class="row">
  <table class="large-12 columns">
    <thead>
      <th>Name</th>
      <th>Value</th>
    </thead>
    <%= form_tag "/settings", method: :post do %>
    <tr>
      <td>Site Name</td>
      <td><%= text_field_tag "Setting[site_name]", Setting.site_name %></td>
    </tr>
    <%= submit_tag "Save Changes" %>
  <% end %>
  </table>
</div>
