<div id="post" class="row">

  <h2 class="title"><%= @post.title %></h2>

  <div class="body"><%= @post.body %></div>


  <div class="actions">
    <%= link_to 'Edit', edit_post_path(@post), class: "tiny radius button" %> |
    <%= link_to 'Back', posts_path, class: "tiny radius button" %>
  </div>
</div>
